.footer {
    width: 100%;
    background: #e5e5e5;
    padding: 40px 0;

    &__content{
        width: 70%;
        margin: auto;

        @include sp {
            width: 95%;
        }

        &__img {
            width: 150px;
            margin-bottom: 40px;
        }

        &__item {
            color: #{$black};
            font-weight: bold;
        }
    }
}
