footer.footer
  .footer__content
    .footer__content__img
      a(href=path+"/")
        img(src=path+"/img/logo/logo.png", alt="浜学園")
    .footer__content__item 
      p 浜学園 西宮本部
      p TEL 0798--64-1236
      p 〒662-0832 兵庫県西宮市甲風園1丁目5-24