footer.footer
  .footer__content
    .footer__content__img
      a(href=path+"/")
        img(src=path+"/img/logo/logo.png", alt="浜学園")
    .footer__content__item 
      p 浜学園 西宮本部
      p TEL 0798--64-1236
      p 〒662-0832 兵庫県西宮市甲風園1丁目5-24
    .footer__link
      a(href="ttps://www.hamagakuen.co.jp/consent/" target="_blank") 個人情報登録の同意について
      a(href="https://www.hamagakuen.co.jp/policy/" target="_blank") 個人情報保護方針
      a(href="https://www.hamagakuen.jp/event/MypageDoc/Tokushohou.aspx?_gl=1*1rv2484*_ga*NzA1MTcxMDE3LjE2OTYzMjgyMjg.*_ga_NX7XTX7TWP*MTY5OTQwMDA2MS4xMS4xLjE2OTk0MDEwMDcuMC4wLjA.#_gl=1*1mgdgff*_ga*NzA1MTcxMDE3LjE2OTYzMjgyMjg.*_ga_QLDKX59NDF*MTY5OTQwMDA2MS4xMS4xLjE2OTk0MDEwMDcuMjUuMC4w*_ga_06DFJP1FCQ*MTY5OTQwMDA2MS4xMS4xLjE2OTk0MDEwMDcuMjYuMC4w&_ga=2.151670396.43291218.1699400061-705171017.1696328228&_gac=1.113560949.1699400064.CjwKCAiA3aeqBhBzEiwAxFiOBmTWGnHDgCYRbABmUodtV7UZdmox2BTTLh8O46odLlxLPNphwD9grRoCs40QAvD_BwE" target="_blank") 特定商取引法に基づく表示